<nav class="topbar">
  <ul class="menu">
    <li><a href="/">Danny Colin<span class="hidden">'s Homepage</span></a></li>
    {{ range .Site.Menus.main }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</nav>
