<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{ $style := resources.Get "css/app.css" | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body>
    <header>
    {{ block "header" . }}
      {{ partial "menus/main.html" . }}
      <div class="box">
        <h1 class="">{{ .Page.Title }}</h1>
      </div>
    {{ end }}
    </header>
    
  <div class="box">
    {{ block "main" . }}

    {{ end }}

    {{ block "footer" . }}
      {{ partial "footer.html" . }}  
    {{ end }}
  </div>
</body>
</html>
<!--
  Copyright Danny Colin (c) 2017

  This file is part of dannycolin.com.

  dannycolin.com is free software: you can redistribute it and/or modify it
  under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  dannycolin.com is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with dannycolin.com. If not, see <http://www.gnu.org/licenses/>.
-->
