/*
  Copyright Danny Colin (c) 2017-2019

  This file is part of dannycolin.com.

  dannycolin.com is free software: you can redistribute it and/or modify it
  under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  dannycolin.com is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with dannycolin.com. If not, see <http://www.gnu.org/licenses/>.
*/
:root {
  /* Colorscheme */
  --blue-30: #59abff; /* doesn't exists in Photon */
  --blue-40: #45a1ff;
  --blue-50: #0a84ff;
  --blue-60: #0060df;
  --blue-70: #003eaa;
  
  --grey-10: #f9f9fa;
  --grey-20: #ededf0;
  --grey-30: #d7d7db;
  --grey-40: #b1b1b3;
  --grey-50: #737373;
  --grey-60: #4a4a4f;
  --grey-70: #38383d;
  --grey-80: #2a2a2e;
  --grey-90: #0c0c0d;
 
  --white-100: #ffffff;
  
  /* General */
  --font-family: monospace;
  --background-color: var(--grey-20);
  --foreground-color: var(--grey-80);
  --link-normal: var(--blue-60);
  --link-active: var(--blue-70); 

  /* Topbar */
  --topbar-background: var(--grey-30); 
  --topbar-border-color: var(--grey-40);
  --topbar-link-color: var(--blue-70);

  /* Tips */
  --tips-background: var(--grey-30); 
  --tips-border-color: var(--grey-40);
}
@media (prefers-color-scheme: dark) {
  :root {
    /* General */
    --background-color: var(--grey-80);
    --foreground-color: var(--grey-10);
    --link-normal: var(--blue-40);
    --link-active: var(--blue-30); 

    /* Topbar */
    --topbar-background: var(--grey-70);
    --topbar-border-color: var(--grey-60);
    --topbar-link-color: var(--blue-30);

    /* Tips */
    --tips-background: var(--grey-70); 
    --tips-border-color: var(--grey-60);
  }
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

a {
  color: var(--link-normal);
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:active {
    color: var(--link-active); }

.box {
  max-width: 80ch;
  margin: 0 auto;
  padding: 0 10px; }

.hidden {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.overline {
  border-top: solid 2px var(--foreground-color); }

.underline {
  border-bottom: solid 2px var(--foreground-color); 
  padding-bottom: 15px; }

#footer p {
  font-size: 0.75rem; }

/* Menu */
.topbar {
  background-color: var(--topbar-background);
  border-bottom: solid 1px var(--topbar-border-color);
}

.topbar a {
  color: var(--topbar-link-color);
}

.topbar .menu {
  max-width: 80ch;
  margin: 0 auto;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 15px 0; }

.menu li {
  flex-grow: 0; }

.menu li:first-child {
  flex-grow: 1;
  flex-basis: 200px; }

.menu li a {
  text-decoration: none; 
  padding: 10px 15px; }

.menu li:first-child a {
  color: var(--foreground-color); 
  font-weight: bold; 
  padding-left: 0; }

.menu li:not(:first-child) a:hover {
  background-color: var(--link-normal); 
  border-radius: 3px;
  color: var(--foreground-color); }

@media (max-width: 80ch) {
  .menu li:first-child a {
    padding-left: 15px; }
}

/* Tips */
.tips {
  background-color: var(--tips-background); 
  border: solid 1px var(--tips-border-color);
  border-radius: 3px;
  list-style-type: none; 
  margin: 15px 0;
  padding: 15px; }

.tips li {
  display: flex; }

.tips li > * {
  flex-grow: 0; }

.tips li > :first-child {
  flex-grow: 1; }

